    <div>
        <img src={{this.project.image}} alt="">
        <div>
            <div>
                {{this.project.title}}
            </div>
            <p>
                {{this.project.description}}
            </p>
        </div>
        <div>
            <span>
                <a href={{this.project.url}}>Explore</a>
            </span>
            <span>
                <a href={{this.project.github}}>Github repo</a>
            </span>
        </div>
    </div>