<div class="project-card-tw">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src={{this.project.image}} alt="">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{this.project.title}}</div>
        <p class="text-grey-darker text-base">
        {{this.project.description}}
        </p>
    </div>
    <div class="px-6 py-4">
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">
            <a href={{this.project.url}}>Explore</a>
        </span>
        <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">
            <a href={{this.project.github}}>Github repo</a>
        </span>
    </div>
    </div>
</div>