{{! template-lint-disable }}

<div class="about-bio">
    <p class="p-about">Hey everyone. My name is Will Chandler and I'm a software
        engineer.</p>

    <p class="p-about">A sixth-generation Texan, I've lived in Mexico, Scotland,
        and Spain. I recently made the move from Austin (awesome but hot) to
        Portland (awesome and not hot).</p>

    <p class="p-about">For many years, I went down a liberal arts and social
        sciences path. I studied Spanish and earned a Masters in international
        relations. I supervised international academic programs, and managed an
        interdisciplinary human rights center.</p>

    <p class="p-about">But throughout this journey, I knew that my true calling
        lay elsewhere. Programming had always intrigued me, and when I finally
        took the plunge into software development, it was clear that I had found
        my lifelong career.</p>

    <p class="p-about">I completed a full stack web development bootcamp through
        the University of Texas at Austin. Since then I've worked for companies
        like Udemy, where I am constantly challenged and always learning. I
        couldn't be happier.</p>
</div>

<div class="info-list">
    {{#each this.model as |info|}}
        <button
            class="primary-button {{if (eq infoToDisplay info) 'active'}}"
            {{action "launchInfo" info}}
        >
            {{info.title}}
        </button>
    {{/each}}

</div>

<div class="info-container">
    {{#if infoToDisplay}}
        <InfoCard @info={{infoToDisplay}} />
    {{else}}
        <div class="select-info">
            <em>
                select info from list
            </em>
        </div>
    {{/if}}
</div>