{{! template-lint-disable }}

<div class="about-bio">
    <p class="p-about">Hey everyone. My name is Will Chandler and I'm a front-end developer.</p>

    <p class="p-about">A sixth-generation Texan, I've lived in Mexico, Scotland, and Spain. I'm currently based in Austin, with dreams of the Pacific Northwest.</p>

    <p class="p-about">For many years, I went down a liberal arts and social sciences path. I studied Spanish and earned a Masters in international relations. I supervised international academic programs, and managed an interdisciplinary human rights center.</p>

    <p class="p-about">But throughout this journey, I knew that my true calling lay elsewhere. Programming had always intrigued me, and when I finally took the plunge into web development, it was clear that I had found my lifelong career.</p>

    <p class="p-about">I completed a full stack web development bootcamp through UT Austin, and now I'm a UI developer. I love creating things and making them look awesome. The constant challenge keeps me motivated.</p>
</div>

<div class="info-list">
  {{#each this.model as |info|}}
    <button
      class="project-button"
      {{action "launchInfo" info}}
    >
      {{info.title}}
    </button>
  {{/each}}

</div>

<div class="info-container">
    {{!-- {{infoToDisplay.items}} --}}

    {{#if infoToDisplay}}
        <InfoCard @info={{infoToDisplay}} />
    {{else}}
        <div class="select-project">
            <em>
                select info from list
            </em>
        </div>
    {{/if}}

</div>


{{!--
<div class="about-tech">
    <div class="tech-section">
        <h3>Tech</h3>
        <ul>
            <li>Ember.js</li>
            <li>Node.js</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>SASS</li>
            <li>CSS Grid</li>
            <li>React.js</li>
            <li>D3</li>
            <li>Express</li>
            <li>MongoDB</li>
        </ul>
    </div>
</div>

<div class="about-conf">
    <div class="tech-section">
        <h3>Conferences</h3>
        <ul>
            <li>EmberConf 2019</li>
        </ul>
    </div>
</div>

<div class="about-hack">
    <div class="tech-section">
        <h3>Hackathons</h3>
        <ul>
            <li>ATX Hack for Change 2018</li>
        </ul>
    </div>
</div>

<div class="about-pres">
    <div class="tech-section">
        <h3>Presentations</h3>
        <ul>
            <li>
                <em>
                    <a
                        href="https://youtu.be/y3B0s6SHTEM"
                        rel="noopener noreferrer"
                        target="_blank"
                        class="main-link"
                    >
                            Ember Octane: Fueling the Future
                    </a>
                </em>
                <br/>
                EmberATX Meetup<br/>
                March 28, 2019
            </li>
        </ul>
    </div>
</div>

<div class="about-edu">
    <div class="tech-section">
        <h3>Education</h3>
        <ul>
            <li>Full Stack Web Development Bootcamp, UT Austin</li>
            <li>MS, International Relations, University of Glasgow</li>
            <li>BA, Spanish, Davidson College</li>

        </ul>
    </div>
</div> --}}



{{!-- <div class="grid-wrap-feature grid-wrap-about">

    <div class="bio">
        <p class="p-about">Hey everyone. My name is Will Chandler and I'm a front-end developer.</p>

        <p class="p-about">A sixth-generation Texan, I've lived in Mexico, Scotland, and Spain. I'm currently based in Austin, with dreams of the Pacific Northwest.</p>

        <p class="p-about">For many years, I went down a liberal arts and social sciences path. I studied Spanish and earned a Masters in international relations. I supervised international academic programs, and managed an interdisciplinary human rights center.</p>

        <p class="p-about">But throughout this journey, I knew that my true calling lay elsewhere. Programming had always intrigued me, and when I finally took the plunge into web development, it was clear that I had found my lifelong career.</p>

        <p class="p-about">I completed a full stack web development bootcamp through UT Austin, and now I'm a UI developer.</p>
    </div>

    <div class="tech">
        <div class="tech-section">
            <h2>Tech</h2>
            <ul>
                <li>Ember.js</li>
                <li>Node.js</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>SASS</li>
                <li>CSS Grid</li>
                <li>React.js</li>
                <li>D3</li>
                <li>Express</li>
                <li>MongoDB</li>
            </ul>
        </div>

        <div class="tech-section">
            <h2>Presentations</h2>
            <ul>
                <li>
                    <em>
                        <a
                            href="https://youtu.be/y3B0s6SHTEM"
                            rel="noopener noreferrer"
                            target="_blank"
                            class="main-link"
                        >
                                Ember Octane: Fueling the Future
                        </a>
                    </em>
                    <br/>
                    EmberATX Meetup<br/>
                    March 28, 2019
                </li>
            </ul>
        </div>

        <div class="tech-section">
            <h2>Conferences</h2>
            <ul>
                <li>EmberConf 2019</li>
            </ul>
        </div>

        <div class="tech-section">
            <h2>Hackathons</h2>
            <ul>
                <li>ATX Hack for Change 2018</li>
            </ul>
        </div>

    </div>

</div> --}}