<div class="container">
    <div class="main-content">
        {{outlet}}
    </div>
    <div class="main-nav">
        <div class="nav-link-container">
            {{nav-links}}
        </div>
        <div class="nav-name-container">
            <span class="name">
                william chandler
            </span>
        </div>
        <div class="nav-icon-container">
            <a href="https://github.com/wllm-chndlr" rel="noopener noreferrer" target="_blank">
                {{fa-icon "github"}}
            </a>
            <a href="https://www.linkedin.com/in/wllmchndlr/" rel="noopener noreferrer" target="_blank">
                {{fa-icon "linkedin"}}
            </a>
            <a href="https://twitter.com/wllmchndlr" rel="noopener noreferrer" target="_blank">
                {{fa-icon "twitter"}}
            </a>
        </div>
    </div>
    {{!-- <div class="main-footer">
        Built with Ember.js
    </div> --}}
</div>
