{{! template-lint-disable }}

<div class="project-list">
  {{#each this.model as |project|}}
    <button
      class="primary-button {{if (eq this.projectToShow project) "active"}}"
      {{action "launchProject" project}}
    >
      {{project.title}}
    </button>
  {{/each}}
</div>

<div class="project-container relative">
  <ProjectCard
    @project={{this.projectToShow}}
    style={{this.projectCardStyle}}
  />
</div>
