{{! template-lint-disable }}

<div class="project-list">
  {{#each this.model as |project|}}
    <button
      class="project-button {{if (eq projectToDisplay project) "active"}}"
      {{action "launchProject" project}}
    >
      {{project.title}}
    </button>
  {{/each}}
</div>

<div class="project-container">
  {{#if projectToDisplay}}
      <ProjectCard @project={{projectToDisplay}} />
  {{else}}
      <ProjectCard @project={{selectedProject}} />
  {{/if}}
</div>
