{{! template-lint-disable }}

<div class="project-list">

  {{#each this.model as |project|}}
    <button
      class="project-button"
      {{action "launchProject" project}}
    >
      {{project.title}}
    </button>
  {{/each}}

  <button
    class="project-button reset-button"
    {{action "resetProjects" project}}
  >
    reset
  </button>
</div>

<div class="project-container">

  {{#if projectToDisplay}}
    {{!-- {{projectToDisplay.title}} --}}
      <ProjectCardNew @project={{projectToDisplay}} />
  {{else}}
    <div class="select-project">
      select project from list
    </div>
  {{/if}}



  {{!-- <ProjectCardNew @project={{this.model}} /> --}}

</div>



{{!-- <div class="grid-wrap-feature grid-wrap-projects">
  {{#each this.model as |projectCard|}}
      <ProjectCardNew @project={{projectCard}} />
  {{/each}}
</div> --}}